<mat-toolbar color="primary">
  <span>{{title}}</span>
  <span class="fill-remaining-space"></span>
  <span>
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  </span>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent>
    <a routerLink="/playlist"><button mat-menu-item>Playlist View</button></a>
    <a routerLink="/user"><button mat-menu-item>User Overview</button></a>
    <a routerLink="/login"><button mat-menu-item>Sign In/Out</button></a>
  </ng-template>
</mat-menu>

<router-outlet></router-outlet>
