<mat-toolbar>
  User Overview
  <span *ngIf="playlists&&playlists[0].snippet.channelTitle">: {{playlists[0].snippet.channelTitle}}</span>
</mat-toolbar>
<br *ngIf="error&&errorSolution" />

<mat-card *ngIf="error&&errorSolution">

  <mat-card-header>
    <mat-card-title><b>ERROR</b></mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <pre>{{error}}</pre>
    <i>{{errorSolution}}</i>
  </mat-card-content>

</mat-card>
<br />

<mat-card *ngIf="playlists; else loginPrompt">

  <mat-card-header>
    <mat-card-title id="playlist-count">Total Playlists: {{playlistListResponse.pageInfo.totalResults}}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p>
      This is a list of all playlists on your YouTube channel. You can choose to watch a playlist immediately or view/edit its video contents.
    </p>

    <mat-list dense>
      <!--lists titles of all user's Playlists; each can be clicked to view its contents-->
      <mat-list-item *ngFor="let item of playlists">
        <!--routes user to embedded playlist view-->
        <a routerLink="/play/{{item.id}}" *ngIf="item.status.privacyStatus!=='private'; else disabledButton"><button mat-mini-fab color="primary">&#9658;</button></a>&nbsp;
        <!--private playlists can't be embedded, so button will be disabled if status is private-->
        <ng-template #disabledButton>
          <span matTooltip="You can't watch private playlists in this application" matTooltipPosition="right"><button mat-mini-fab color="primary" [disabled]="true">&#9658;</button></span>
        </ng-template>
        <!--redirects user to ytComponent, which will display contents of clicked playlist based on its ID-->
        <button mat-raised-button color="primary" (click)="toPlaylist(item.id)">VIEW/EDIT</button>&nbsp;
        {{item.snippet.title}}&nbsp;&nbsp;&nbsp;&nbsp;
      </mat-list-item>
    </mat-list>
    <br />

    <!--advances to previous/next page in list of playlists, if possible-->
    <button mat-stroked-button (click)="toPrevPage()" [disabled]="!playlistListResponse.prevPageToken || !allowPageChangeButtonClick">Previous Page</button>
    <button mat-stroked-button (click)="toNextPage()" [disabled]="!playlistListResponse.nextPageToken || !allowPageChangeButtonClick">Next Page</button>
  </mat-card-content>

</mat-card>
<br />

<ng-template #loginPrompt>
  <mat-card>
    <mat-card-content>
      There are no playlists to show here.
    </mat-card-content>
  </mat-card>
</ng-template>
