<mat-toolbar>
  <mat-toolbar-row>
    Playlist View
  </mat-toolbar-row>

  <mat-toolbar-row>
    <mat-form-field (keyup.enter)="clearErrors(); clearPageToken(); getPlaylistItems(playlistId.value); playlistId.value=''">
      <input matInput placeholder="Playlist ID" #playlistId />
    </mat-form-field>&nbsp;
    <!--displays playlist based on playlist ID and clears input-->
    <button mat-stroked-button (click)="clearErrors(); clearPageToken(); getPlaylistItems(playlistId.value); playlistId.value=''">SHOW PLAYLIST</button>
  </mat-toolbar-row>
</mat-toolbar>
<br />

<mat-card id="ytComponentErrorCard" *ngIf="error&&errorSolution">

  <mat-card-header>
    <mat-card-title><b>ERROR</b></mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <pre>{{error}}</pre>
    <i>{{errorSolution}}</i>
  </mat-card-content>

</mat-card>
<br />

<mat-card id="mainYtComponentCard">

  <mat-card-header *ngIf="playlistItems">
    <mat-card-title id="video-count">Total Results: {{playlistItemListResponse.pageInfo.totalResults}}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    You can paste a YouTube playlist ID (or any URL that contains a playlist ID) above to display the contents of the playlist. From here, you can choose to watch the playlist immediately or view/edit the details of a video.

    <!--only displays if playlist has at least one video in it-->
    <div id="videoListContainer" *ngIf="playlistItems&&playlistItems.length>0">
      <br />
      <!--routes user to embedded playlist view based on retrieved playlist ID associated with first video-->
      <a routerLink="/play/{{playlistItems[0].snippet.playlistId}}"><button mat-mini-fab color="primary">&#9658;</button></a>&nbsp;
      <!--deletes all playlistItems marked by checkboxes-->
      <button mat-raised-button color="primary" (click)="clearErrors(); deletePlaylistItems()" [disabled]="!allowDeleteButtonClick">DELETE SELECTED VIDEOS</button>
      <mat-list dense>
        <!--lists titles of all PlaylistItems in playlist; each can be clicked for more information or queued for deletion by clicking the corresponding checkbox-->
        <mat-list-item *ngFor="let item of playlistItems; let i = index">
          <!--marks playlistItem for deletion-->
          <mat-checkbox color="primary" (click)="toggleToDelete(i)"></mat-checkbox>&nbsp;&nbsp;
          <a routerLink="/video/{{item.id}}"><button mat-raised-button color="primary">VIEW/EDIT</button></a>&nbsp;&nbsp;{{item.snippet.position + 1}}.&nbsp;
          {{item.snippet.title}}
        </mat-list-item>
      </mat-list>
    </div>
    <br />

    <div id="videoListFooter" *ngIf="playlistItems">
      <!--advances to previous/next page in playlist, if possible-->
      <button mat-stroked-button (click)="toPrevPage()" [disabled]="!playlistItemListResponse.prevPageToken || !allowPageChangeButtonClick">Previous Page</button>
      <button mat-stroked-button (click)="toNextPage()" [disabled]="!playlistItemListResponse.nextPageToken || !allowPageChangeButtonClick">Next Page</button>
      <br />
      <br />

      <mat-divider [inset]="true"></mat-divider>

      <p>
        If you're signed-in, you can also add a video to the playlist by pasting a YouTube video ID (or any URL that contains a video ID) in the box at the bottom or delete videos by checking the boxes next to the videos you want to delete before clicking "Delete Selected Videos".
      </p>

      <mat-form-field (keyup.enter)="clearErrors(); addPlaylistItem(videoId.value); videoId.value=''">
        <input matInput placeholder="Video ID" #videoId />
      </mat-form-field>&nbsp;
      <!--adds new PlaylistItem to end of playlist based on video ID and clears input-->
      <button mat-stroked-button (click)="clearErrors(); addPlaylistItem(videoId.value); videoId.value=''">ADD VIDEO</button>
    </div>
  </mat-card-content>

</mat-card>
