<label>
  Playlist ID:
  <input #playlistId />
</label>
<!--displays playlist based on playlist ID and clears input-->
<button (click)="clearErrors(); getPlaylistItems(playlistId.value); playlistId.value=''">Show Playlist</button>

<div *ngIf="playlistItems">

  <h3>Total Results: {{playlistItemListResponse.pageInfo.totalResults}}</h3>

  <!--only displays if playlist has at least one video in it-->
  <div *ngIf="playlistItems.length>0">
    <!--routes user to embedded playlist view based on retrieved playlist ID associated with first video-->
    <a routerLink="/play/{{playlistItems[0].snippet.playlistId}}"><button>&#9658;</button></a>
    <!--deletes all playlistItems marked by checkboxes-->
    <button (click)="clearErrors(); deletePlaylistItem()">Delete Selected Videos</button>
    <ul style="list-style-type:none">
      <!--lists titles of all PlaylistItems in playlist; each can be clicked for more information or queued for deletion by clicking the corresponding checkbox-->
      <li *ngFor="let item of playlistItems; let i = index">
        <!--marks playlistItem for deletion-->
        <input type="checkbox" (click)="toggleToDelete(i)" />
        {{item.snippet.position + 1}}.&nbsp;&nbsp;<a routerLink="/video/{{item.id}}">{{item.snippet.title}}</a>
      </li>
    </ul>
  </div>

  <div>
    <!--advances to previous/next page in playlist, if possible-->
    <button (click)="toPrevPage()" [disabled]="!playlistItemListResponse.prevPageToken">Previous Page</button>
    <button (click)="toNextPage()" [disabled]="!playlistItemListResponse.nextPageToken">Next Page</button>
  </div>
  <br />

  <div>
    <label>
      Video ID:
      <input #videoId />
    </label>
    <!--adds new PlaylistItem to end of playlist based on video ID and clears input-->
    <button (click)="clearErrors(); addPlaylistItem(videoId.value); videoId.value=''">Add Video</button>
  </div>

</div>

<div *ngIf="error">
  <pre>{{error}}</pre>
</div>
<div *ngIf="errorSolution">
  <i>{{errorSolution}}</i>
</div>
