<label>Playlist ID:
  <input #playlistId />
</label>
<!--displays playlist based on playlist ID and clears input-->
<button (click)="getPlaylistItems(playlistId.value); playlistId.value=''">Show Playlist</button>

<div *ngIf="playlistItems">

  <h3>Total Results: {{playlistItemListResponse.pageInfo.totalResults}}</h3>

  <ul style="list-style-type:none">
    <!--lists titles of all PlaylistItems in playlist; each can be clicked for more information or deleted by clicking their respective Delete button-->
    <li *ngFor="let item of playlistItems">
      {{item.snippet.position + 1}}.&nbsp;&nbsp;<a routerLink="/video/{{item.id}}">{{item.snippet.title}}</a>
      <button (click)="deletePlaylistItem(item)">Delete</button>
    </li>
  </ul>

  <div>
    <!--advances to previous/next page in playlist, if possible-->
    <button (click)="toPrevPage()" [disabled]="!playlistItemListResponse.prevPageToken">Previous Page</button>
    <button (click)="toNextPage()" [disabled]="!playlistItemListResponse.nextPageToken">Next Page</button>
  </div>
  <br />

  <div>
    <label>Video ID:
      <input #videoId />
    </label>
    <!--adds new PlaylistItem to end of playlist based on video ID and clears input-->
    <button (click)="addPlaylistItem(videoId.value); videoId.value=''">Add Video</button>
  </div>

</div>