<div *ngIf="item">

  <h2>{{item.snippet.title}}</h2>
  <ul>
    <!--more info can be displayed as needed-->
    <li>Description: <pre>{{item.snippet.description}}</pre></li>
    <li>Video ID: {{item.snippet.resourceId.videoId}}</li>
    <li>Unique Item ID: {{item.id}}</li>
    <!--EEEE: day of week; MMMM d y: date; h:mm:ss a: time; zzzz: time zone-->
    <li>Added to Playlist on: {{item.snippet.publishedAt | date : 'EEEE, MMMM d, y, h:mm:ss a (zzzz)'}}</li>
    <li>Playlist by: {{item.snippet.channelTitle}} ({{item.snippet.channelId}})</li>
  </ul>

  <div>
    <label>
      <!--currently, displays 0 when user clears position with backspace, then displays placeholder when backspace is hit again; 0 is overwritten upon typing so it's like an extra placeholder-->
      <!--+/-1 differentiates between display and array position; instantly commits position change to item object, so the updated position can be pulled when user clicks Save-->
      <input [value]="item.snippet.position+1" (input)="item.snippet.position=$event.target.value-1" placeholder="Enter New Position" />
    </label>
  </div>

</div>

<button (click)="goBack()">Go Back</button>
<button (click)="savePlaylistItem()">Save</button>

<div *ngIf="error">
  <pre>{{error}}</pre>
</div>
<div *ngIf="errorSolution">
  <i>{{errorSolution}}</i>
</div>