<div *ngIf="item">
  <h2>{{item.snippet.title}}</h2>
  <ul>
    <!--more info can be displayed as needed-->
    <li>Description: <pre>{{item.snippet.description}}</pre></li>
    <li>Published: {{item.snippet.publishedAt}}</li>
    <li>Channel Title: {{item.snippet.channelTitle}}</li>
    <li>Channel ID: {{item.snippet.channelId}}</li>
    <li>Video ID: {{item.snippet.resourceId.videoId}}</li>
  </ul>
  <div>
    <label>
      <input [(ngModel)]="item.snippet.position" placeholder="Enter New Position" />
    </label>
  </div>
</div>

<button (click)="goBack()">Go Back</button>
<button (click)="savePlaylistItem()">Save</button>